<h1 id="tableLabel">Aviões</h1>

<p>Lista de Aviões</p>

<p *ngIf="!aviaos"><em>Carregando...</em></p>
<p class="text-right"><a [routerLink]="['/aviao-edit', 0 ]" class="btn btn-success">Novo Avião</a></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="aviaos">
  <thead>
    <tr>
      <th>#</th>
      <th>Modelo</th>
      <th>Passageiros</th>
      <th>Criação</th>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let aviao of aviaos">
      <td>{{ aviao.aviaoId }}</td>
      <td>{{ aviao.modelo }}</td>
      <td>{{ aviao.quantidadeDePassageiros }}</td>
      <td>{{ aviao.dataCriacao }}</td>
      <td><a [routerLink]="['/aviao-edit', aviao.aviaoId ]" class="btn btn-success">Editar</a></td>
      <td><button type="button" class="btn btn-danger" (click)="onDelete()">Excluir</button></td>
    </tr>
  </tbody>
</table>
