<h1 id="tableLabel">Aviões</h1>
<div class="col-md-6 user-container">
  <h2 class="text-center">Edit User</h2>
  <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
    <div class="hidden">
      <input type="text" formControlName="id" placeholder="id" name="id" class="form-control" id="id">
    </div>
    <div class="form-group">
      <label for="modelo">Modelo:</label>
      <input type="text" formControlName="modelo" placeholder="modelo" name="modelo" class="form-control" id="username">
    </div>

    <div class="form-group">
      <label for="quantidadeDePassageiros">Quantidade de Passageiros:</label>
      <input formControlName="quantidadeDePassageiros" placeholder="Quantidade De Passageiros" name="quantidadeDePassageiros" class="form-control" id="quantidadeDePassageiros">
    </div>
    <button class="btn btn-success">Gravar</button>
  </form>
</div>
