<h1 id="tableLabel">Aviões</h1>
<div class="col-md-6 user-container">
  <h2 class="text-center">Editar Avião</h2>
  <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
    <div class="hidden">
      <label for="modelo"><b>Id:</b></label>
      <input type="text" formControlName="aviaoId" placeholder="aviaoId" name="aviaoId" class="form-control" id="aviaoId" readonly="readonly">
    </div><br />
    <div class="form-group">
      <label for="modelo"><b>Modelo:</b></label>
      <input type="text" formControlName="modelo" placeholder="modelo" name="modelo" class="form-control" id="username">
      <div class="alert alert-danger" *ngIf="editForm.controls['modelo'].hasError('required') && editForm.controls['modelo'].touched">Modelo é requirido</div>
    </div><br />
    <div class="form-group">
      <label for="quantidadeDePassageiros"><b>Quantidade de Passageiros:</b></label>
      <input formControlName="quantidadeDePassageiros" placeholder="Quantidade De Passageiros" name="quantidadeDePassageiros" class="form-control" id="quantidadeDePassageiros">
      <div class="alert alert-danger" *ngIf="editForm.controls['quantidadeDePassageiros'].hasError('required') && editForm.controls['quantidadeDePassageiros'].touched">Quantidade De Passageiros é requirido</div>
    </div><br />
    <div class="form-group">
      <label for="dataCriacao"><b>Data de Criação:</b></label>
        <input formControlName="dataCriacao" placeholder="" name="dataCriacao" class="form-control" id="dataCriacao" readonly="readonly">
</div><br />
    <div class="form-group text-center">
      <button class="btn btn-success">Gravar</button>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <a class="btn btn-primary" [routerLink]="['/aviao' ]">Voltar</a>
    </div>
  </form>
</div>
